{{ template "lead" . }}

<h1>{{ .Title }}</h1>

<form action="/dives" method="get">
    <label for="filter_before">Before:</label>
    <input id="filter_before" type="date" name="before" value="{{ .NormalizedDateValue .BeforeFilter }}" />
    <label for="filter_after">After:</label>
    <input id="filter_after" type="date" name="after" value="{{ .NormalizedDateValue .AfterFilter }}" />
    <div><input type="submit" value="Filter" /></div>
</form>

<p class="p-tight">Found {{ .Total }} dive records in total:</p>

<form>
    <figure> <!-- CSS library provides a horizontal scroller through this element. -->
    <table>
        <thead>
            <tr>
                <th>Dive #</th>
                <th>Date</th>
                <th>Time</th>
                <th>Site</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Dives }}
            <tr>
                <td>{{ .Num }}</td>
                <td>{{ .DateTimeIn.Format "January 2, 2006." }}</td>
                <td>{{ .DateTimeIn.Format "15:04" }}</td>
                <td>{{ .Data.Site }}</td>
                <td>
                    <a href="/dives/{{ .ID }}">Inspect</a> |
                    <a href="#"
                    hx-delete="/dives/{{ .ID }}"
                    hx-swap="outerHTML swap:1s"
                    hx-confirm="Are you sure you want to delete this dive record?"
                    hx-target="closest tr">Delete</a>
                </td>
            </tr>
            {{ end }}
            {{ if not .LastPage }}
            <tr>
                <td colspan="5" style="text-align: center">
                    <button hx-target="closest tr"
                            hx-swap="outerHTML"
                            hx-select="tbody > tr"
                            hx-get="/dives?{{ .URLBeforeQuery }}{{ .URLAfterQuery }}page={{ .NextPage }}">More...</span>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    </figure>
</form>

{{ if .Renumbered }}
<small><em>Dives have been <mark>automatically re-numbered</mark> since the last New/Save/Delete operation.</em></small>
{{ end }}

<p class="p-tight">
    <a class="button" href="/dives/new">New Dive</a>
    <a class="button" href="#" hx-get="/dives" hx-target="body" hx-push-url="true">Reset Filters</a>
</p>

{{ template "trail" . }}
