{{ define "lead" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" media="screen" href="/static/site.css">
    <!-- <link rel="stylesheet" media="screen" href="https://unpkg.com/simpledotcss/simple.min.css"> -->
    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
</head>

<body hx-boost="true">
{{ end }}

<!-- --------------------------------------------------------------------------------------------------------------- -->

{{ define "trail" }}
</body>

</html>
{{ end }}

