{{ define "lead" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" media="screen" href="/static/simple2.3.0.min.css">
    <link rel="stylesheet" media="screen" href="/static/site.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
</head>

<body hx-boost="true">

<header>
    <span style="float: right; margin-right: 10%;">Signed in: <strong>Andrija</strong> | <a href="/">Home</a> | <a href="/">Sign Out</a></span>
</header>
{{ end }}

<!-- --------------------------------------------------------------------------------------------------------------- -->

{{ define "trail" }}
<footer>
    <small>
        Andrija Cicović | 2024 |
        Bug reports are welcome @ <a href="mailto:cicovic.andrija.alt@gmail.com">cicovic.andrija.alt@gmail.com</a>.
    </small>
</footer>

</body>

</html>
{{ end }}

<!-- --------------------------------------------------------------------------------------------------------------- -->

{{ define "sync-ui" }}
<div id="sync-ui" hx-target="this" hx-swap="outerHTML">
    {{ if eq .State 0 }}
    <button hx-post="/actions/sync">Sync</button>
    {{ else if eq .State 1 }}
    <div hx-get="/actions/sync" hx-trigger="load delay:500ms">
        Syncing...
        <div class="progress">
            <div id="sync-progress" class="progress-bar"
                style="width:{{ .CompletedPct }}%"
                role="progressbar"
                aria-valuenow="{{ .CompletedPct }}">
            </div>
        </div>
    </div>
    {{ else }}
    Done!
    {{ end }}
</div>
{{ end }}

<!-- --------------------------------------------------------------------------------------------------------------- -->
