{{ template "lead.html" }}

<h1>All Runs</h1>

<form action="/runs" method="get">
    <label for="filter_before">Before:</label>
    <input id="filter_before" type="date" name="before" value="" />
    <label for="filter_after">After:</label>
    <input id="filter_after" type="date" name="after" value="" />
    <input type="submit" value="Filter" />
</form>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Location</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Avg. Pace</th>
            <th>Max. Pace</th>
            <th>Avg. Speed</th>
            <th>Max. Speed</th>
            <th>Avg. Heart Rate</th>
            <th>Max. Heart Rate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ range .Runs }}
        <tr>
            <td>{{ .Data.Num }}</td>
            <td>{{ .Data.Date.Format "January 2, 2006." }}</td>
            <td>{{ .Data.Location }}</td>
            <td>{{ .Data.Duration.String }}</td>
            <td>{{ .Data.Distance }} km</td>
            <td>{{ .Data.AvgPace.String }}</td>
            <td>{{ .Data.MaxPace.String }}</td>
            <td>{{ .Data.AvgSpeed }} km/h</td>
            <td>{{ .Data.MaxSpeed }} km/h</td>
            <td>{{ .Data.AvgHeartRate }}</td>
            <td>{{ .Data.MaxHeartRate }}</td>
            <td>
                <a href="/runs/{{ .Data.ID }}/edit">Edit</a>
                <a href="/runs/{{ .Data.ID }}">View</a>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

<p>
    <a href="/runs/new">New run</a>
</p>

{{ template "trail.html" }}
