/* ----------------------------------------- */
/* Overrides for definitions from Simple.css */

/* Always use the "light" theme. */
:root,
::backdrop {
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --border: #898EA4;
    --accent: #0d47a1;
    --accent-hover: #1266e2;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #add8e6;
    --disabled: #efefef;
}

/* Light theme contd. Hacks: */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
    cursor: pointer;
    opacity: 0.6;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}

/* Override <mark> tag settings. */
mark {
    padding: 2px 5px;
    border-radius: var(--standard-border-radius);
    background-color: var(--code);
    color: white;
}

/* ----------------------------------------- */
/* Custom definitions. */

.error {
    display: inline-block;
    color: var(--code);
}

tr.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

p.tight {
    margin-bottom: 0;
    padding-bottom: 0;
}
